/*=====================================================
                  Preloader Animation
=======================================================*/
#loader-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: #222222;
  z-index: 1000;
  -webkit-transform: translateX(0);
  /* Chrome, Opera 15+, Safari 3.1+ */
  /* IE 9 */
  transform: translateX(0);
  /* Firefox 16+, IE 10+, Opera */
}

#loader {
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background-color: #ffffff00;
  border-radius: 50%;
  -webkit-box-shadow: 2px 0px 4px 0 #ffffffaa, 0 2px 4px 0 #ffffffaa, -2px 0px 4px 0 #ffffffaa, 0 -2px 4px 0 #ffffffaa;
          box-shadow: 2px 0px 4px 0 #ffffffaa, 0 2px 4px 0 #ffffffaa, -2px 0px 4px 0 #ffffffaa, 0 -2px 4px 0 #ffffffaa;
  -webkit-animation: pulse 3s linear infinite;
          animation: pulse 3s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-radius: 50%;
  -webkit-box-shadow: inset 3px 0px 5px 0 #ffffffaa, 0 3px 5px 0 #ffffffaa, inset -3px 0px 5px 0 #ffffffaa, 0 -3px 5px 0 #ffffffaa;
          box-shadow: inset 3px 0px 5px 0 #ffffffaa, 0 3px 5px 0 #ffffffaa, inset -3px 0px 5px 0 #ffffffaa, 0 -3px 5px 0 #ffffffaa;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 2px 0px 4px 0 #ffffffaa, 0 2px 4px 0 #ffffffaa, -2px 0px 4px 0 #ffffffaa, 0 -2px 4px 0 #ffffffaa;
            box-shadow: 2px 0px 4px 0 #ffffffaa, 0 2px 4px 0 #ffffffaa, -2px 0px 4px 0 #ffffffaa, 0 -2px 4px 0 #ffffffaa;
  }
  50% {
    -webkit-box-shadow: 8px 0px 16px 0 #ffffffaa, 0 8px 16px 0 #ffffffaa, -8px 0px 16px 0 #ffffffaa, 0 -8px 16px 0 #ffffffaa;
            box-shadow: 8px 0px 16px 0 #ffffffaa, 0 8px 16px 0 #ffffffaa, -8px 0px 16px 0 #ffffffaa, 0 -8px 16px 0 #ffffffaa;
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 2px 0px 4px 0 #ffffffaa, 0 2px 4px 0 #ffffffaa, -2px 0px 4px 0 #ffffffaa, 0 -2px 4px 0 #ffffffaa;
            box-shadow: 2px 0px 4px 0 #ffffffaa, 0 2px 4px 0 #ffffffaa, -2px 0px 4px 0 #ffffffaa, 0 -2px 4px 0 #ffffffaa;
  }
  50% {
    -webkit-box-shadow: 8px 0px 16px 0 #ffffffaa, 0 8px 16px 0 #ffffffaa, -8px 0px 16px 0 #ffffffaa, 0 -8px 16px 0 #ffffffaa;
            box-shadow: 8px 0px 16px 0 #ffffffaa, 0 8px 16px 0 #ffffffaa, -8px 0px 16px 0 #ffffffaa, 0 -8px 16px 0 #ffffffaa;
  }
}

/* Loaded */
.loaded #loader {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.6s 1s ease-out;
  transition: all 0.6s 1s ease-out;
}

/*=====================================================
            End of Preloader Animation
=======================================================*/
body, #login::before, #dock::before {
  background: url(../assets/pacific_city.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#login, #dock {
  overflow: hidden;
  background: rgba(128, 128, 128, 0.3);
}

#login::before, #dock::before {
  content: '';
  margin: -35px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  z-index: -1;
}

.hidden, .visible, .menu-closed, .menu-open, #login {
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.logged-in {
  -webkit-transform: translateY(-300vh);
          transform: translateY(-300vh);
}

.hidden {
  -webkit-transform: translateY(300vh);
          transform: translateY(300vh);
  -webkit-animation: hide 1s 1;
          animation: hide 1s 1;
}

.menu-closed {
  -webkit-transform: translateY(-300px);
          transform: translateY(-300px);
  z-index: -1;
}

.menu-open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  z-index: 4;
}

.header-hide {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}

.dock-hide {
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
}

body {
  margin: 0;
  color: #f8f8f2;
  font-family: monospace;
  height: 90vh;
  font-size: 19px;
  overflow: hidden;
}

button {
  font-family: monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
  z-index: 5;
  padding-left: 5px;
  position: relative;
  height: 25px;
  background: #282a36;
  -webkit-box-shadow: 0 0em 0.25em rgba(0, 0, 0, 0.6);
          box-shadow: 0 0em 0.25em rgba(0, 0, 0, 0.6);
}

header button {
  background: none;
  border: none;
  color: inherit;
  font-size: inherit;
}

header button:focus {
  background: #44475a;
  outline: none;
}

#os-menu {
  display: inline-block;
  position: absolute;
  width: 200px;
  background: #282a36;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  -webkit-box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.6);
          box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.6);
}

#os-menu ul {
  list-style: none;
  margin: 0;
  padding: 0.25em;
}

#os-menu li {
  padding: 0;
}

#os-menu li:hover {
  background: #44475a;
}

#os-menu li button {
  text-align: left;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  font: inherit;
  color: inherit;
  padding: 0;
  margin: 0.25rem;
}

#os-menu hr {
  padding: 0;
}

#container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  line-height: 1.5;
  border-radius: 7px;
  width: 24%;
  height: 18%;
  min-width: 300px;
  min-height: 225px;
  -webkit-box-shadow: 0 1em 3em rgba(0, 0, 0, 0.6);
          box-shadow: 0 1em 3em rgba(0, 0, 0, 0.6);
  font-size: 2em;
  font-family: "Bad Script", monospace;
  text-align: center;
}

#login:hover i {
  color: #282a36;
}

.titlebar {
  width: 100%;
  margin: -1.5em -1em 2em -1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.close-btn {
  background: none;
  border: none;
  color: inherit;
  font-size: 1em;
  padding: 0;
  margin-right: 1.75em;
}

.close-btn:hover {
  color: #6272a4;
}

.divider {
  margin: 1em auto;
  text-align: center;
}

.link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about {
  position: absolute;
  background: #282A36;
  padding: 2em;
  border-radius: 7px;
  max-width: 40%;
  -webkit-box-shadow: 0 1em 3em rgba(0, 0, 0, 0.6);
          box-shadow: 0 1em 3em rgba(0, 0, 0, 0.6);
}

#about #intro {
  margin: 0 auto;
  text-align: center;
  width: 70%;
}

#about #techs-start {
  text-align: center;
}

#about #techs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .tech-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em;
}

#about .tech-icons {
  width: 2em;
  height: 2em;
  margin: 0 2em 0 2em;
  -webkit-filter: invert(86.5%);
          filter: invert(86.5%);
}

#about .tech-labels {
  text-align: center;
}

#about #projects-link {
  margin: 0 auto;
}

#projects {
  position: absolute;
  background: #282A36;
  padding: 2em;
  border-radius: 7px;
  max-width: 75%;
  -webkit-box-shadow: 0 1em 3em rgba(0, 0, 0, 0.6);
          box-shadow: 0 1em 3em rgba(0, 0, 0, 0.6);
}

#projects #projects-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#projects #projects-wrapper .project {
  width: 260px;
  margin: 15px;
  border-radius: 7px;
  overflow: hidden;
  text-align: center;
  -webkit-box-shadow: 0 1em 3em rgba(0, 0, 0, 0.6);
          box-shadow: 0 1em 3em rgba(0, 0, 0, 0.6);
}

#projects #projects-wrapper .project-img {
  width: 100%;
}

#projects #more-link {
  margin: 0 auto;
}

#projects #contact-link {
  margin: 0 auto;
}

#contact {
  position: absolute;
  background: #282A36;
  padding: 2em;
  border-radius: 7px;
  -webkit-box-shadow: 0 1em 3em rgba(0, 0, 0, 0.6);
          box-shadow: 0 1em 3em rgba(0, 0, 0, 0.6);
}

#contact .contact-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em;
}

#contact .contact-details {
  width: 2em;
  height: 2em;
  margin: 0 2em 0 2em;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

#contact .contact-icons {
  width: 2em;
  height: 2em;
  margin: 0 2em 0 2em;
  -webkit-filter: invert(86.5%);
          filter: invert(86.5%);
}

#contact .contact-icons:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

#contact .contact-labels {
  text-align: center;
}

#dock-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
}

#dock {
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
  z-index: 5;
  font-size: 2em;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  padding: 0.5em;
}

#dock button {
  background: none;
  border: none;
  color: inherit;
  font-size: inherit;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  color: #282a36;
  margin: 0 0.25em 0 0.25em;
}

#dock button:focus {
  outline: none;
}

#dock-label {
  margin: 0.25em;
  color: #f8f8f2;
  background: #282A36;
  border-radius: 7px;
}
/*# sourceMappingURL=style.css.map */