/*=====================================================
                  Preloader Animation
=======================================================*/

#loader-wrapper {
  display: flex;
  align-items: center;
  justify-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: #222222;
  z-index: 1000;
  -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(0);  /* IE 9 */
  transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
}

#loader {
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background-color: #ffffff00;
  border-radius: 50%;
  box-shadow: 2px 0px 4px 0 #ffffffaa, 0 2px 4px 0 #ffffffaa, -2px 0px 4px 0 #ffffffaa, 0 -2px 4px 0 #ffffffaa;
  animation: pulse 3s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-radius: 50%;
  box-shadow: inset 3px 0px 5px 0 #ffffffaa, 0 3px 5px 0 #ffffffaa, inset -3px 0px 5px 0 #ffffffaa, 0 -3px 5px 0 #ffffffaa;
}

@keyframes pulse{
  0% {
    box-shadow: 2px 0px 4px 0 #ffffffaa, 0 2px 4px 0 #ffffffaa, -2px 0px 4px 0 #ffffffaa, 0 -2px 4px 0 #ffffffaa;
  }
  50% {
    box-shadow: 8px 0px 16px 0 #ffffffaa, 0 8px 16px 0 #ffffffaa, -8px 0px 16px 0 #ffffffaa, 0 -8px 16px 0 #ffffffaa;
  }
}

/* Loaded */
.loaded #loader {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.6s 1s ease-out;
  transition: all 0.6s 1s ease-out;
}

/*=====================================================
            End of Preloader Animation
=======================================================*/

// FROSTED GLASS
body, #login::before, #dock::before {
 background: url(../assets/pacific_city.jpg);
 background-position: center;
 background-size: cover;
 background-attachment: fixed;
}

#login, #dock {
  overflow: hidden;
  background: hsla(0,0%,50%,.3);
}

#login::before, #dock::before {
  content: '';
  margin: -35px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: blur(5px);
  z-index: -1;
}
// END FROSTED GLASS

.hidden, .visible, .menu-closed, .menu-open, #login {
  transition: transform 0.7s;
}

.logged-in {
  transform: translateY(-300vh);
}

.hidden {
  transform: translateY(300vh);
  animation: hide 1s 1;
}

.menu-closed {
  transform: translateY(-300px);
  z-index: -1;
}

.menu-open {
  transform: translateY(0);
  z-index: 4;
}

.header-hide {
  transform: translateY(-100px);
}

.dock-hide {
  transform: translateY(150px);
}

body {
  margin: 0;
  color: #f8f8f2;
  font-family: monospace;
  height: 90vh;
  font-size: 19px;
  overflow: hidden;
}

button {
  font-family: monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: transform 0.7s;
  z-index: 5;
  padding-left: 5px;
  position: relative;
  height: 25px;
  background: #282a36;
  box-shadow: 0 0em 0.25em rgba(0,0,0,0.6);
  button {
    background: none;
    border: none;
    color: inherit;
    font-size: inherit;
    &:focus {
      background: #44475a;
      outline: none;
    }
  }
}

#os-menu {
  display: inline-block;
  position: absolute;
  width: 200px;
  background: #282a36;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  box-shadow: 0 0.25em 0.25em rgba(0,0,0,0.6);
  ul {
    list-style: none;
    margin: 0;
    padding: 0.25em;
  }
  li {
    padding: 0;
    &:hover {
      background: #44475a;
    }
    button {
      text-align: left;
      width: 100%;
      height: 100%;
      background: none;
      border: none;
      font: inherit;
      color: inherit;
      padding: 0;
      margin: 0.25rem;
    }
  }
  hr {
    padding: 0;
  }
}

#container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  line-height: 1.5;
  border-radius: 7px;
  width: 24%;
  height: 18%;
  min-width: 300px;
  min-height: 225px;
  box-shadow: 0 1em 3em rgba(0,0,0,0.6);
  font-size: 2em;
  font-family: "Bad Script", monospace;
  text-align: center;
  &:hover {
    i {
      color: #282a36;
    }
  }
}

.titlebar {
  width: 100%;
  margin: -1.5em -1em 2em -1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.close-btn {
  background: none;
  border: none;
  color: inherit;
  font-size: 1em;
  padding: 0;
  margin-right: 1.75em;
  &:hover {
    color: #6272a4;
  }
}

.divider {
  margin: 1em auto;
  text-align: center;
}

.link-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#about {
  position: absolute;
  background: #282A36;
  padding: 2em;
  border-radius: 7px;
  max-width: 40%;
  box-shadow: 0 1em 3em rgba(0,0,0,0.6);

  #intro {
    margin: 0 auto;
    text-align: center;
    width: 70%;
  }

  #techs-start {
    text-align: center;
  }

  #techs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tech-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1em;
  }

  .tech-icons {
    width: 2em;
    height: 2em;
    margin: 0 2em 0 2em;
    filter: invert(86.5%);
  }

  .tech-labels {
    text-align: center;
  }

  #projects-link {
    margin: 0 auto;
  }
}

#projects {
  position: absolute;
  background: #282A36;
  padding: 2em;
  border-radius: 7px;
  max-width: 75%;
  box-shadow: 0 1em 3em rgba(0,0,0,0.6);

  #projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .project {
      width:260px;
      margin: 15px;
      border-radius: 7px;
      overflow: hidden;
      text-align: center;
      box-shadow: 0 1em 3em rgba(0,0,0,0.6);
    }

    .project-img {
      width: 100%;
    }
  }

  #more-link {
    margin: 0 auto;
  }

  #contact-link {
    margin: 0 auto;
  }
}

#contact {
  position: absolute;
  background: #282A36;
  padding: 2em;
  border-radius: 7px;
  box-shadow: 0 1em 3em rgba(0,0,0,0.6);

  .contact-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1em;
  }

  .contact-details {
    width: 2em;
    height: 2em;
    margin: 0 2em 0 2em;
    transition: transform 0.3s;
  }

  .contact-icons {
    width: 2em;
    height: 2em;
    margin: 0 2em 0 2em;
    filter: invert(86.5%);
    &:hover {
      transform: scale(1.3);
    }
  }

  .contact-labels {
    text-align: center;
  }
}

#dock-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}

#dock {
  transition: transform 0.7s;
  z-index: 5;
  font-size: 2em;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  padding: 0.5em;
  button {
    background: none;
    border: none;
    color: inherit;
    font-size: inherit;
    transition: transform 0.3s;
    color: #282a36;
    margin: 0 0.25em 0 0.25em;
    &:focus {
      outline: none;
    }
  }
}

#dock-label {
  margin: 0.25em;
  color: #f8f8f2;
  background: #282A36;
  border-radius: 7px;
}